.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.leftWrapper{
    .loadMoreBtn {
        width: 640px;
        font-size: 18px;
    }
}
.main {
    margin-left: 182px;
    margin-right: 182px;

    .title {
        margin-top: 38px;
        margin-bottom: 13px;
        font-size: 36px;
    }

    .subTitle {
        font-size: 20px;
    }
  
   
    
}

.column {
    float: left;
    width: 50%;
}