.wrapper {
  margin-left: 182px;
  margin-right: 182px;

  .title {
    margin-top: 38px;
    margin-bottom: 13px;
    font-size: 36px;
  }

  .subTitle {
    font-size: 20px;
    color: var(--darker-gray-color);
  }
}
.main {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftWrapper {
  .control {
    font-size: 2.1rem;
    padding: 10px;
    color: var(--primary-color);

    &:hover {
      cursor: pointer;
      color: var(--gray-color);
    }
  }
}

.rightWrapper {
  .checkoutBtn {
    width: 280px;
    height: 60px;
    font-size: 2.4rem;
  }

  .total {
    font-size: 2.4rem;
    color: var(--red-color);
    margin-bottom: 20px;
  }

  .totalPrice {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: var(--text-color);
  }
}

.column {
  float: left;
  width: 50%;
}

@media (max-width: 1300px) {
  .total {
    margin-top: 50px;
  }
}
