.itemWrapper {
  margin-top: 20px;
  margin-bottom: 40px;
}
.header {
  margin-top: 50px;
}

.lineHeader {
  border: 2px solid #e2e2e2;
  width: 100%;
  margin-top: 10px;
}

.lineSpacing {
  margin-top: 40px;
}
