.sidebar {
  background-color: var(--gray-background-color);
  // border-right: 1px solid #e0e0e0;
  margin-top: 50px;

  .title {
    display: flex;
    align-items: center;

    span {
      line-height: 2.4rem;
    }

    h2 {
      font-size: 2.4rem;
      line-height: 2.4rem;
      color: #666666;
      margin-left: 13px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    // padding-left: 10px;
    margin-left: 14px;
    // margin-top: 17px;
    border-left: 1px solid #e0e0e0;
  }

  .menuItem {
    display: flex;
    align-items: center;

    padding: 15px 10px;
    margin: 7px 0px;

    color: var(--text-color2);
    font-size: 2.4rem;
    line-height: 2.4rem;

    &:hover {
      cursor: pointer;
      color: var(--button-hover-color1);
    }
  }

  .menuItem.separator {
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
  }

  .menuItem.active {
    color: var(--primary-color);
  }

  .icon {
    min-width: 50px;
    line-height: 2.4rem;
  }
}
