@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Rhodium Libre', serif;
  box-sizing: border-box;
}

// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
}

button,
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

//variable
:root {
  --white-color: #fff;
  --black-color: #000;
  --green-color: #1b4c29db;

  --text-color: #000;
  --primary-color: #fb9701;
  --button-hover-color: #fb9701db;

  --header-height: 62px;
}
