.addressCard {
  background-color: var(--white-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
  border: 8px;
  margin-left: 0;
  position: relative;

  .addressCardLeft {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-start; /* Align items from start */
  }

  .radioButton {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Increase margin for gutter */
    margin-left: 0; /* Remove left margin */
  }

  .radioButton input[type='radio'] {
    margin: 0;
  }

  .namePhone {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Add spacing between name-phone and address */
  }

  .namePhone p {
    margin: 0;
    text-align: left;
  }

  .namePhone span {
    margin: 0 5px;
  }

  .address {
    text-align: left;
  }
}
