.wrapper {
  background-color: white;
  width: 450px;
  height: 62%;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  height: 1em;
  width: 10.5em;
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
  white-space: nowrap;
  align-self: center;
}

.infoWrapper {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.insideInput {
  border: 2px solid #e2e2e2;
  background-color: white;
  width: 100%;
  height: 25%;
  border-radius: 0.25em;
  text-align: center;
  padding: 1em;
  font-size: 1em;
  text-align: left;
}

.loginBtn {
  width: 80%;
  height: 3em;
  background-color: #fb9701;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: 0.5s;
  border-radius: 999px;
  cursor: pointer;
}

.loginBtn:hover {
  transform: scale(1.25);
}

.insideText {
  text-align: left;
  width: 100%;
  margin-right: auto;
}

.forgotPasswordBtn {
  width: 90%;
  text-align: right;
}

.navigateToForgot {
  display: block;
  width: 90%;
  text-align: right;
  color: #2196f3;
}

.suggestCreateAccount {
  text-align: center;
}

.navigateToSignUp {
  color: #2196f3;
}
