.wrapper {
  height: 500px;
  width: 510px;
  padding: 10px 40px;
  position: relative;
  box-shadow: 0 0 8px var(--box-shadow-color);
  background-color: var(--white-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  margin-top: 10px;
  font-size: 2.4rem;
}

.loginBtn {
  width: 100%;
  height: 60px;
  font-size: 2.4rem;
  border-radius: 4px;
}

.navigateToForgot {
  display: block;
  width: 100%;

  text-align: right;
  color: var(--link-color);
}

.navigateToSignUp {
  margin-left: 6px;
  color: var(--link-color);
}
