.wrapper {
  width: 100%;
}

.info {
  img {
    object-position: center;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .name {
        margin: 10px 0;

        font-size: 3rem;
        font-weight: 700;
        color: var(--black-color);
      }
    }

    .price {
      font-size: 2.4rem;
      color: var(--primary-color);
    }

    .type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      .typeButton {
        width: 32%;
        border: 1px solid #ccc;
        height: 45px;
        font-size: 2rem;

        &:hover {
          background-color: var(--button-hover-color2);
        }
      }
    }

    .quantity {
      width: 160px;
    }

    .addBtn {
      width: 100%;
      height: 65px;
      // margin-top: 50px;
      border: 1px solid #ccc;

      font-size: 2.4rem;
    }
  }
}

.description {
  margin-top: 20px;

  h3 {
    margin-bottom: 18px;
    font-size: 2.4rem;
    color: var(--black-color);
  }

  p {
    font-size: 2rem;
    color: var(--black-color);
    text-align: justify;
  }
}
