.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 75px;

  &:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }
}

.wrapper.active {
  background-color: #e5e5e5;
}

.image {
  height: calc(100% - 20px);
  object-fit: contain;
  object-position: center;
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.title {
  font-size: 22px;
  max-width: 100%;
  font-weight: 600;
  text-align: center;
  color: var(--darker-gray-color);
}

.price {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.activeClassName {
  background-color: var(--separator-color);
}
