.language {
  width: 200px;
  height: 60px;

  .languageIcon {
    margin-left: 14px;
    margin-top: 6px;
    width: 28px;
    height: 28px;
  }

  .languageTitle {
    font-size: 2.7rem;
  }
}

.innerModal {
  width: 380px;
  height: 120px;
  padding: 20px;
  border-radius: 5px;

  .modalTitle {
    color: var(--black-color);
    font-size: 2.3rem;
    width: 100%;
    border-bottom: 1px solid var(--black-color);
  }

  .languageList {
    list-style: none;
    width: 85%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    font-size: 2.2rem;

    .languageElement {
      cursor: pointer;
      &:hover {
        color: var(--text-hover-color);
      }
    }
  }
}
