.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(---white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 62px;
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  line-height: 0px;

  .navbarLink {
    text-decoration: none;
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 400;

    padding: 0 12px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  &:first-child {
    .navbarLink {
      margin-right: 40px;
    }
  }

  &:last-child {
    .navbarLink {
      margin-left: 40px;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 260px;

  border: 1px solid var(--black-color);
  border-radius: 20px;

  input {
    padding: 0 10px;
    border-radius: 20px;
    width: 100%;
    font-size: 1.8rem;
  }

  img {
    margin-right: 16px;
  }
}
