.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(---white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1224px;
  height: 62px;
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  line-height: 0px;
}

.navbarLink {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 30px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
