.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(---white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1224px;
  height: 62px;
}

.navbarList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbarLink {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 30px;
}
