.container {
  width: 290px;
  height: 1030px;
}

.header {
  width: 88%;
  border-bottom: 2px solid rgba(33, 33, 33, 0.2);
  margin-top: 40px;
  margin-left: 20px;
}

.confirmRequest {
  width: 290px;
  height: 170px;
  border: 2px solid rgba(33, 33, 33, 0.2);
}

.confirmButton {
  display: inline-block;
  width: 125px;
  height: 35px;
  background-color: #fb9701;
  margin-top: 20px;
  margin-left: 20px;
}

.declineButton {
  display: inline-block;
  width: 125px;
  height: 35px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  margin-top: 20px;
}

.tracking {
  width: 290px;
  height: 730px;
  margin-top: 10px;
  border: 2px solid rgba(33, 33, 33, 0.4);
}

.task {
  display: flex;
  align-items: center;
  width: 260px;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: 10px;
}

.workDone {
  width: 20px;
  height: 20px;
  margin-left: auto;
}
