.innerModal {
  padding: 20px;
  border-radius: 5px;
}

.optionList {
  list-style-type: disc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 400px;
  height: 120px;
}
.button {
  &:hover {
    cursor: pointer;
    color: var(--button-hover-color1);
  }
}
